* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #b8d7ff;
}

header {
    background-color: #011b45;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-navegacao ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

li {
    list-style-type: none;
    font-weight: bold;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #c3c5cb;
    font-weight: 500;
}

#cabecalho p {
    color: #c3c5cb;
}

main {
    padding: 30px;
}

#banner {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    background-color: #7cb3fb;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #011b45;
}

#banner h2 {
    margin-bottom: 10px;
}

#banner img {
    width: 200px;
    height: 200px;
}

#enunciado {
    margin-top: 20px;
    font-weight: bold;
    color: #011b45;
}

#servicos {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.servico {
    background-color: #7cb3fb;
    padding: 15px;
    width: 32%;
    border-radius: 0px;
    text-align: center;
    border: 2px solid #011b45;
}

.servico img {
    width: 100%;
    border-radius: 0px;
    height: 300px;
    object-fit: cover;
}

.servico h3 {
    margin-top: 10px;
}

.servico p {
    margin-top: 10px;
    text-align: justify;
}

footer {
    background-color: #011b45;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contatos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid #011b45;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

th {
    background-color: #7cb3fb;
    color: black;
}

#valores-tabela, #duracao-tabela {
    background-color: #7cb3fb;
    color: black;
}